@page
@model VPD1p3.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h3>@ViewData["Title"]</h3>
    <h5><a href="http://uhh.de/hussein-adnan-mohammed"  target="_blank">@Model.Message</a></h5>

    <address>
        <strong>Address:</strong> Room 4012, Warburgstr. 28, 20354 Hamburg <br />
        <strong>Telephone:</strong> +49 40 42838 - 9406 <br />
        <strong>Fax:</strong> +49 40 42838 - 4899
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:hussein.adnan.mohammed@uni-hamburg.de ">hussein.adnan.mohammed (at) uni-hamburg.de</a><br />
    </address>

