@page
@model VPD1p3.Pages.HowToModel
@{
    ViewData["Title"] = "How to use the Visual-Pattern Detector v1.3 (VPD1.3)";
}

<h3 style="text-align:center; font-style:italic">@ViewData["Title"]</h3>
<br />
<p>
    Each step (page) contains relevant instructions at the bottom of the page. Please read
    these instructions and use them as guidelines. Below is a general stepwise description of
    how to use the VPD:
</p>
<ol>
    <li>
        Start the pattern detection by clicking "Start Detecting Patterns" button in the first page.
    </li>
    <br />
    <li>
        Add at least ONE pattern to be detected by this software tool. You can add patterns by simply 
        uploading their images and assigning a unique name to be used in the detection results.
    </li>
    <br />
    <li>
        Add at least ONE image in order to be searched for the previously selected patterns.
    </li>
    <br />
    <li>
        Check the selected patterns and data images to make sure that everything is
        OK, then select the desired detection parameters (or just use the defaults).
    </li>
    <br />
    <li>
        Click the "Start Detecting" button in order to start pattern detection.
    </li>
    <br />
    <li>
        A green button will appear once the results are ready. Click this green "Results" button to go to
        the results page.
    </li>
    <br />
    <li>
        In the results page, you can view and download your detections; also, you can adjust the detection 
        threshold in order to keep only the "good" detections. If you are not satisfied with the results, 
        you can return back and change the detection parameters by clicking "Change Detection Parameters".
    </li>
</ol>

